{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}
{% block body %}
{% load static %}
<link rel='stylesheet' href="{% static 'css/contact.css' %}">
<script src="https://kit.fontawesome.com/06db8242e4.js" crossorigin="anonymous"></script>
<div class="contact_img" >
    <img src="static/img/contact.jpg" class="my-3" alt="img is loading" width="100%" height="50%">
</div>

<div class="centerdiv">
  <a class = "icons" href="https://www.instagram.com/namangarg446/" target="_blank">
    <i class="fa fa-2x fa-instagram"></i>
  </a>
  <a class = "icons" href="https://www.youtube.com/channel/UC7A7EoQYUXMxPrwGl3RXg3w" target="_blank">
    <i class="fa fa-2x fa-youtube"></i>
  </a>
  <a class = "icons" href="https://www.linkedin.com/in/naman-garg-935658201" target="_blank">
    <i class="fa fa-2x fa-linkedin"></i>
  </a>
</div>
<div class="container mb-3 py-4">
<div class="container my-3">

<h3>Contact iCoder Admin</h3>
<form method="post" action="/contact">
{% csrf_token %}
  {% if user.is_authenticated %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="phone" class="form-control" name="phone" id="phone">
    </div>
    <div class="form-group">
      <label for="content">Describe your issue:</label>
      <textarea class="form-control" name="content" id="content" cols="30" rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  {% else %}
  <h4>Please Login first</h4>
  {% endif %}
</form>
</div>
</div>
<style>

.contact_img{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}
.centerdiv{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.icons{
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    line-height: 110px;

}
a i{
    line-height: 100px;
    transition: all 0.3s linear;

}
a:hover i{
    transform: scale(1.4);
}
.fa-instagram{
    color: #e84393;
}
.fa-youtube{
    color: #e84118;
}
.fa-linkedin{
    color: #0097e6;
}
</style>

{% endblock body %}