{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block js %}
<script src="https://kit.fontawesome.com/06db8242e4.js" crossorigin="anonymous"></script>
{% endblock js %}
{% block body %}
{% load static %}
<link rel='stylesheet' href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
<div class="container my-4">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/blog2.jpg" class="d-block" alt="img is loading....">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>

</div>
</div>

<div class="container">
  {% for post in allPosts %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}
          (<i class="fas fa-eye"></i> {{post.views}})</h5>
        <p class="card-text">{{post.content|safe| truncatechars:250}}</p>
        <p class="card-text"><small class="text-muted">Last update {{post.timeStamp}}</small></p>
      <div>
      <a href="/blog/{{post.slug}}" role = "button" class="btn btn-primary">Read more</a>
      </div>
      </div>
   </div>
   {% endfor %}
</div>
</div>
</div>
</div>
{% endblock body %}